
.navbar-default {
  background-color: #69899f;
  border-color: #425766;
  min-height: 60px;
}
.navbar-default .navbar-brand {
  font-size: 17px;
  padding-top: 19px;
  color: #d7e2e9;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #e5dbdb;
}
.navbar-default .navbar-text {
  color: #d7e2e9;
}
.navbar-default .navbar-nav > li > a {
  color: #d7e2e9;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #e5dbdb;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #69899f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #d7e2e9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #e5dbdb;
  background-color: #425766;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #69899f;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #e5dbdb;
  background-color: #425766;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #e5dbdb;
  background-color: #425766;
}
.navbar-default .navbar-toggle {
  border-color: #425766;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #425766;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d7e2e9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d7e2e9;
}
.navbar-default .navbar-link {
  color: #d7e2e9;
  font-size: 15px;
  padding-left: 8px;
}
.navbar-default .navbar-link:hover {
  color: #e5dbdb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d7e2e9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e5dbdb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e5dbdb;
    background-color: #425766;
  }
}



body > .jumbotron{
      margin-top: 30px;
}

body {
    background-color: #eee;
}

.album img { width: 348px; height:196px }

.slides {
    display: none;
}

.common > img {  height: 75vh; }

.common-content > img { height: 75vh; }

.common-content {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;	
}

.details {
    display: inline-block;
    width: auto;
    text-align: center !important;
    font-weight: 600 !important;
}

.slider-left {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 0%;
    padding-bottom: 4px;
    border-radius: 50% !important;
    border: none !important ;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%);
}

.slider-right {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    right: 0%;
    padding-bottom: 4px;
    border-radius: 50% !important;
    border: none !important ;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

.no-padding{ padding-left: 0; padding-right:0 }

#notice {
    color: #a6f1a6;
    font-weight: bold;
    font-size: 15px;
}