<div class="jumbotron">
  <div class="container">
  	<div class="col-sm-6">
    <h2> Editing Album</h2>
    <%= render 'form', album: @album %>
    <br>
    <%= link_to 'Show', @album %> |
    <%= link_to 'Back', albums_path %>  </div>
  </div>
</div>

